.content {
  text-align: center;
}

.formwrapper {
  max-width: 200px;
  margin: 3rem auto;
  background-color: #ffffff;
  border-radius: 1rem;
}
.formbox {
  min-width: 100%;
  /* height: 100vh; */
  /* border: dotted #f55a00 5vw; */
  /* border: 1px solid red; */

  text-align: center;
  padding: 3vw;
  position: relative;
  /* max-width: 400px; */
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}

input {
  margin: 0.2rem 0 0.6rem;
  width: 100%;
  height: 2.4rem;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
}

textarea {
  margin: 0.2rem 0 0.6rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
}
